:root {
  --font-family-main: "SF_Pro_Text", "Arial", serif;
  --font-family-primary: "SF_Pro_Display", "Arial", sans-serif;

  --font-size-l: 3rem;
  --font-l: var(--font-size-l) var(--font-family-primary);

  --font-size-m: 1.2rem;
  --font-m: var(--font-size-m) var(--font-family-main);

  --font-size-s: 1rem;
  --font-s: var(--font-size-s) var(--font-family-main);
}

