.app.dark {
  --bg-color: #000000;
  --bg-secondary-color: ;

  --text-color: #D9D9D9;
  --blue-color: #1D9BF0;
  --hover-color: #161616;
  --gray-color: #6E767D;
  --border-color: #2F3336;
  --trends-color: #202327;
}

